.container {
	position: absolute;
	top: 5%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-height: 100px;
}

.navbar {
	display: flex;
	width: 50%;
	justify-content: space-around;
	margin-bottom: 20px;
}

button {
	margin-top: 10px;
	border-radius: 30px;
	border: 1px solid #03b995;
	background-color: #03b995;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 25px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.2s ease-in;
}

button:hover {
	background-color: #009c7d;
}

.inner-container {
	position: relative;
	top: 5%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	min-height: 100px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}