/*This is components scope style*/
.topLine {
  position: absolute;
  border-radius: 0 10px 0 0;
  width: 350px;
  height: 20px;
  top: 32px;
  left: 845px;
  background-color: #DA0037;
}

.sideLine {
  position: absolute;
  border-radius: 0 10px 0 0;
  width: 20px;
  height: 400px;
  top: 32px;
  left: 1180px;
  background-color: #DA0037;
}

.bottomLine {
  position: absolute;
  border-radius: 0 0 10px 0;
  width: 385px;
  height: 20px;
  top: 432px;
  left: 815px;
  background-color: #DA0037;
}

.register {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 300px;
  height: 400px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
}

h1 {
  padding-top:30px;
  color: #EDEDED;
}